<div ng-controller="objectController">
  <nav>
    <div id="navbarObjects" class="nav-wrapper z-depth-2">
    	<a ui-sref="Landing">
        <img id="wordLogo" src="public/images/logo_White.png"/>
      </a>
      <a id="lzHeader" class="brand-logo center hide-on-med-and-down">
		    <i id="gradCap" class="fa fa-graduation-cap"> <b id="lz">Learning Zone</b></i>
      </a>
      <ul id="resourceMenuObjects" class="right">
        <li>
          <a
            id="navSelectObjects" 
            class='dropdown-button' 
            href='#' 
            data-activates='dropdown1'>
            <i class="fa fa-caret-down right"></i>Rest API - Objects
          </a>
          <ul id='dropdown1' class='dropdown-content'>
            <li class="dropdownitem">
              <a id="dropdownText1" ui-sref="Landing">Main Menu</a>
            </li>
            <li class="divider"></li>
            <li class="dropdownitem">
              <a id="dropdownText2" ui-sref="Users">
              <i id="userAPI" class="fa fa-user right"></i>[API] - Users
              </a>
            </li>
            <li class="divider"></li>
            <li class="dropdownitem">
              <a id="dropdownText2" href="https://sdktool.stamplayapp.com/index.html">
              <i id="userSDK" class="fa fa-user right"></i>[SDK] - Users
              </a>
            </li>
            <li class="divider"></li>
            <li class="dropdownitem">
              <a id="dropdownText3" href="https://sdktool.stamplayapp.com/objects.html">
              <i id="objSDK" class="fa fa-cubes right"></i>[SDK] - Objects</a>
            </li>
          </ul> 
        </li>
      </ul>
    </div>
  </nav>
<!--TABS-->
  <div class="row">
    <div class="col s12 tab-row">
      <ul class="tabs">
        <li class="tab col s2">
          <a href="#create" class="active truncate">CREATE</a></li>
        <li class="tab col s2">
          <a href="#update" class="truncate">UPDATE</a></li>
        <li class="tab col s2">
          <a href="#query" class="truncate">QUERIES</a></li>
        <li class="tab col s2">
          <a href="#rate" class="truncate">ACTIONS</a></li>
        <li class="tab col s2">
          <a href="#activities" class="truncate">ACTIVITIES</a></li>
        <li class="tab col s2">
          <a href="#email" class="truncate">EMAIL</a></li>
      </ul>
    </div>
  </div>
<!--..............................TAB 1...............................-->
<!--CREATED OBJECT OUTPUT-->
  <div id="create" class="row moduleBackgroundObj">
    <div id="createLeft" class="col s4">
  		<div class="chip">
          <i class="fa fa-eye"></i> User View
      </div>
    <ul class="collection z-depth-1 objectOutput itemBorder">
      <li id="viewHeaderCreate" class="collection-item center header">
        <b>New Book Data</b>
      </li>
      <li class="collection-item data center">
        <img ng-src="{{bookImg}}" class="outputData" id="bookImage"/>
      </li>
      <li class="collection-item data">
        <b>Book Title:</b>
        <span class="outputData" id="objectOutputName">{{createTitle}}</span>
      </li>
      <li class="collection-item data">
        <b>Author:</b>
        <span class="outputData" id="objectOutputAuthor">{{createAuthor}}</span>
      </li>
      <li class="collection-item data">
        <b>Dt_Created: </b>
        <span class="outputData" id="objectOutputDate">{{createDate}}</span>
      </li>
      <li class="collection-item data">
        <b>ID: </b>
        <span class="outputData" id="objectOutputId">{{createId}}</span>
      </li>
    </ul>
<!--CREATE OBJECT INPUT-->
  <div class="row z-depth-1 createSection itemBorder">
    <div class="col s12">
      <div class='row'>
        <p class="center header"><b>Create Book</b></p>
      </div>
      <div class="row">
        <div 
          id="input"
          class="input-field col s12">
          <input
            ng-model="objectName"  
            placeholder="Book Title..." 
            id="objectName" 
            type="text">
        </div>
        <div 
          id="input"
          class="input-field col s12">
          <input
            ng-model="objectAuthor"  
            placeholder="Author..." 
            id="objectAuthor" 
            type="text">
        </div>
        <div 
          id="input"
          class="input-field col s12">
          <input
            ng-model="objectPrice"  
            placeholder="Price..." 
            id="objectPrice" 
            type="text">
        </div>
        <div 
          id="input"
          class="input-field col s12">
          <input
            ng-model="objectDate"
            placeholder="Date Published..." 
            id="objectDate" 
            type="date" 
            class="datepicker">
        </div>
        <div 
          id="input"
          class="input-field col s12">
          <input
            ng-model="imageURL"  
            placeholder="image URL..." 
            id="objectImage" 
            type="text">
        </div>
      </div>
      <div class="row center">
        <div class="input-field col s12">
          <a 
            ng-click="createObject()" 
            id="btn" 
            class="waves-effect waves-light btn-large">
            <i class="fa fa-plus-circle right"></i>Create Book
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="createRight" class= "col s8">
  <div class="chip">
    <i class="fa fa-code"></i> Code Details
  </div>
  <div class="z-depth-1 codeContent">
    <button
      type="btn"
      id="copyBtn"
      class="right" 
      clipboard 
      text="textToCopyCreate" 
      on-copied="success()" 
      on-error="fail(err)">
      <i id="clipboard1PS" class="fa fa-clipboard tooltipped" data-position="bottom" data-delay="50" data-tooltip="copy"></i>
    </button>
    <i class="fa fa-github small right github tooltipped" data-position="bottom" data-delay="50" data-tooltip="view full code"></i><span><i class="fa fa-youtube-square small right youtube tooltipped" data-position="bottom" data-delay="50" data-tooltip="view tutorial"></i></span>
    <pre> <b>API Request Path - Create Object</b><input class="left" type="text" ng-model="textToCopyCreate">
    </pre>
  </div>
<!--........................................................-->
  <div id="sourceCodeCreate" class="z-depth-1 row">
    <div class="col s12 srcTab">
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#createCtrl">Controller.js</a></li>
        <li class="tab col s4"><a href="#createFactory">Factory.js</a></li>
        <li class="tab col s4"><a></a></li>
      </ul>
    </div>
    <div id="createCtrl" class="col s12">
<pre>
  
 (function() {
  'use strict';
  angular.module('stamplay')
  .controller('objectController', objectController);
  objectController.$inject = ['objectFactory', '$state',"$http","$scope", "$stamplay"];

  function objectController(objectFactory, $state, $http, $scope, $stamplay){

  $scope.createObject = function(){
    var title = $scope.objectName;
    var author = $scope.objectAuthor;
    var objectPrice = $scope.objectPrice;
    var objectDate = document.getElementById('objectDate').value;
    var price = parseFloat(objectPrice);
    var published = new Date(objectDate);
    var image = $scope.imageURL;

    var newObject = {
      title: title,
      author: author,
      price: price,
      datePublished: published,
      bookImage: image
    };

    objectFactory.addBook(newObject).then(function(res){
    });
  };

  }
  })();
</pre>
  </div>
<div id="createFactory" class="col s12">
<pre>
 (function() {
  'use strict';
  angular.module('stamplay')
  .factory('objectFactory', objectFactory);
  objectFactory.$inject = ['$http', '$q'];

  function objectFactory($http, $q) {
  return {
    addBook: function(data){
      var q = $q.defer();
      <b>$http.post("https://apiapp.stamplayapp.com/api/cobject/v1/book", data)</b>.then(function(res){
        q.resolve(res);
      });
      return q.promise;
    }

  };
  }
  })();
</pre>
  </div>
  </div>
<!--........................................................-->
  <div id="console" class="z-depth-1">
<pre> <b>Console</b>
  <span id="consoleCursor" class="blinking-cursor">_</span>
  <br><span id="createConsoleStatus" class="hidden"> Status: 200 OK</span>
  <br><span id="createConsoleBody" class="hidden"> Body: {{createBody}}</span>
  <br><span id="createConsoleResponse" class="hidden"> Response: {{createResponse}}</span>
</pre>
  </div>
<!--........................................................-->
  </div>
</div>
<!--..............................TAB 2...............................-->

<!--UPDATED OBJECT OUTPUT-->
  <div id="update" class="row moduleBackgroundObj">
	  <div id="updateLeft" class="col s4">
		  <div class="chip">
        <i class="fa fa-eye"></i> User View
      </div>
		  <div id="update">
  			<ul class="collection z-depth-1 objectOutput itemBorder">
      		<li id="viewHeaderUpdate" class="collection-item center header">
            <b>Book Data</b>
          </li>
          <li class="collection-item category center">
            <img id="updateImage" ng-src="{{updateImg}}" class="outputData" id="updateOutputName"/>
          </li>
      		<li class="collection-item category">
            <b>Book Title:</b>
      			<span class="outputData" id="updateOutputName">{{updateTitle}}</span>
          </li>
      		<li class="collection-item category">
            <b>Author:</b>
      			<span class="outputData" id="updateOutputAuthor">{{updateAuthor}}</span>
          </li>
      		<li class="collection-item category">
            <b>Dt_Updated: </b>
      			<span class="outputData" id="updateOutputDate">{{updateDate}}</span>
          </li>
      		<li class="collection-item category">
            <b>ID: </b>
      			<span class="outputData" id="updateOutputID">{{updateId}}</span>
          </li>
  			</ul>
<!--UPDATE OBJECT INPUT-->
        <div class="row z-depth-1 createSection itemBorder">
          <form class="col s12">
            <div class='row'>
              <p class="center header"><b>Update Book Data</b></p>
            </div>
            <div class="row">
              <div id="input" class="input-field col s12">
              <input
                ng-model="newTitle"
                placeholder="New Book Title..."  
                id="title" 
                type="text">
              </div>
              <div id="input" class="input-field col s12">
              <input
                ng-model="newAuthor"
                placeholder="New Author..."  
                id="author" 
                type="text">
              </div>
              <div id="input" class="input-field col s12">
              <input
                ng-model="newImage"
                placeholder="New Image..."  
                id="image" 
                type="text">
              </div>
            </div>
            <div class="row center">
              <div class="input-field col s12">
                <a 
                  ng-click="updateObject()" 
                  id="btn" 
                  class="waves-effect waves-light btn-large">
                  <i class="fa fa-pencil-square-o right"></i>Update Book
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <br>
    </div>
    <div id="updateRight" class= "col s8">
      <div class="chip">
        <i class="fa fa-code"></i> Code Details
      </div>
      <div class="z-depth-1 codeContent">
        <button
          type="btn"
          id="copyBtn"
          class="right" 
          clipboard 
          text="textToCopyUpdate" 
          on-copied="success()" 
          on-error="fail(err)">
          <i id="clipboard1PS" class="fa fa-clipboard tooltipped" data-position="bottom" data-delay="50" data-tooltip="copy"></i>
        </button>
        <i class="fa fa-github small right github tooltipped" data-position="bottom" data-delay="50" data-tooltip="view full code"></i><span><i class="fa fa-youtube-square small right youtube tooltipped" data-position="bottom" data-delay="50" data-tooltip="view tutorial"></i></span>
        <pre> <b>API Request Path - Update Object</b><input class="left" type="text" ng-model="textToCopyUpdate">
        </pre>
      </div>
<!--........................................................-->
      <div id="sourceCodeUpdate" class="z-depth-1 row">
        <div class="col s12 srcTab">
          <ul id="testTab" class="tabs">
            <li class="tab col s4"><a class="active" href="#updateCtrl">Controller.js</a></li>
            <li class="tab col s4"><a href="#updateFactory">Factory.js</a></li>
            <li class="tab col s4"><a></a></li>
          </ul>
        </div>
        <div id="updateCtrl" class="col s12"> 
<pre>
 (function() {
  'use strict';
  angular.module('stamplay')
  .controller('objectController', objectController);
  objectController.$inject = ['objectFactory', '$state',"$http","$scope", "$stamplay"];

  function objectController(objectFactory, $state, $http, $scope, $stamplay){

  $scope.updateObject = function(){
    var title = $scope.newTitle;
    var author = $scope.newAuthor;
    var image = $scope.newImage;

    newData = {
      title: title,
      author: author
      bookImage: image
    };

    objectFactory.editObject(newData).then(function(res){
    });
  };

  }
  })();
</pre>
      </div>
      <div id="updateFactory" class="col s12"> 
<pre>
 (function() {
  'use strict';
  angular.module('stamplay')
  .factory('objectFactory', objectFactory);
  objectFactory.$inject = ['$http', '$q'];

  function objectFactory($http, $q) {
  return {
    editObject: function(newData){
      var q = $q.defer();
      <b>$http({
        method: "PUT",
        url : "https://apiapp.stamplayapp.com/api/cobject/v1/book/564a8ddf6f58fbac2fd34be4",
        data : newData,
        headers : { 
          "x-stamplay-jwt" : window.localStorage.getItem("http://localhost:8080-jwt")
        }
      })</b>.then(function(res){
        q.resolve(res);
      });
      return q.promise;
    }
  };
  }
  })();
</pre>
      </div>
    </div>
<!--........................................................-->
      <div id="console" class="z-depth-1">
<pre> <b>Console</b>
  <span id="updateConsoleCursor" class="blinking-cursor">_</span>
  <br><span id="updateConsoleStatus" class="hidden"> Status: 200 OK</span>
  <br><span id="updateConsoleBody" class="hidden"> Body: {{updateBody}}</span>
  <br><span id="updateConsoleResponse" class="hidden"> Response: {{updateResponse}}</span>
</pre>
      </div>
<!--........................................................-->
	    </div>
  </div>
<!--..............................TAB 3...............................-->
<!--QUERY OUTPUT-->
  <div id="query" class="row moduleBackgroundObj">
    <div id="queryLeft" class="col s4">
      <div class="chip">
        <i class="fa fa-eye"></i> User View
      </div>
      <ul id="queryResults" class="collection z-depth-1 itemBorder">
        <li id="viewHeaderQuery" class="collection-item center queryheader">
          <b>Restaurant Query Results</b>
        </li>
        <li class="collection-item category center">
          <img id="restaurantImage" ng-src="{{restaurantImg}}" class="queryheader" id="queryOutputName"/>
        </li>
        <li class="collection-item category">
          <b>Restaurant:</b>
          <span class="queryheader" id="queryOutputName">{{queryRestaurantOutput}}</span>
        </li>
        <li class="collection-item category">
          <b>Phone: </b>
          <span class="queryheader" id="queryOutputPhone">{{queryPhoneOutput}}</span>
        </li>
        <li class="collection-item category">
          <b>City: </b>
          <span class="queryheader" id="queryOutputCity">{{queryCityOutput}}</span>
        </li>
        <li class="collection-item category">
          <b>Address: </b>
          <span class="queryheader" id="queryOutputAddress">{{queryAddressOutput}}</span>
        </li>
      </ul>
<!--QUERY OPTIONS-->
      <div id="options itemBorder">
        <div class="input-field col s12">
          <p class="center queryheader"><b>Search for a restaurant!</b></p>
          <br>
          <select id="cuisineDropdown">
            <option id="cuisineOption" value="" disabled selected>Cuisine</option>
            <option value="American">American</option>
            <option value="Chinese">Chinese</option>
            <option value="Italian">Italian</option>
            <option value="Mexican">Mexican</option>
          </select>
        </div>
        <div class="input-field col s12">
          <select id="cityDropdown">
            <option value="" disabled selected>City</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="New York">New York</option>
            <option value="Chicago">Chicago</option>
            <option value="San Fransisco">San Fransisco</option>
          </select>
          <br>
        </div>
      </div>
<!--QUERY BUTTON-->
      <div class="row z-depth-1 createSection itemBorder">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <a 
                ng-click="queryObject()" 
                id="btn" 
                class="waves-effect waves-light btn-large">
                <i class="fa fa-search right"></i>Query Object
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="queryRight" class= "col s8">
      <div class="chip">
        <i class="fa fa-code"></i> Code Details
      </div>
      <div class="z-depth-1 codeContent">
        <button
          type="btn"
          id="copyBtn"
          class="right" 
          clipboard 
          text="textToCopyQuery" 
          on-copied="success()" 
          on-error="fail(err)">
          <i id="clipboard1PS" class="fa fa-clipboard tooltipped" data-position="bottom"data-delay="50" data-tooltip="copy"></i>
        </button>
        <i class="fa fa-github small right github tooltipped" data-position="bottom" data-delay="50" data-tooltip="view full code"></i><span><i class="fa fa-youtube-square small right youtube tooltipped" data-position="bottom" data-delay="50" data-tooltip="view tutorial"></i></span>
        <pre> <b>API Request Path - Query Object</b><input class="left" type="text" ng-model="textToCopyQuery">
        </pre>
      </div>
<!--........................................................-->
      <div id="sourceCodeQuery" class="z-depth-1 row">
        <div class="col s12 srcTab">
          <ul class="tabs">
            <li class="tab col s4"><a class="active" href="#queryCtrl">Controller.js</a></li>
            <li class="tab col s4"><a href="#queryFactory">Factory.js</a></li>
            <li class="tab col s4"><a></a></li>
          </ul>
        </div>

        <div id="queryCtrl" class="col s12"> 
<pre>
 (function() {
  'use strict';
  angular.module('stamplay')
  .controller('objectController', objectController);
  objectController.$inject = ['objectFactory', '$state',"$http","$scope", "$stamplay"];

  function objectController(objectFactory, $state, $http, $scope, $stamplay){

    $scope.queryObject = function(){
      var selectCuisine = document.getElementById("cuisineDropdown");
      var cuisine = selectCuisine.options[selectCuisine.selectedIndex].value;

      var selectCity = document.getElementById("cityDropdown");
      var city = selectCity.options[selectCity.selectedIndex].value;

      var queryParams = {
        cuisine: cuisine,
        city: city
      };

      objectFactory.findObject(queryParams).then(function(res){
      });
    }
  }
  })();
</pre>
        </div>
        <div id="queryFactory" class="col s12"> 
<pre>
 (function() {
  'use strict';
  angular.module('stamplay')
  .factory('objectFactory', objectFactory);
  objectFactory.$inject = ['$http', '$q'];

  function objectFactory($http, $q) {

  return {
  findObject: function(queryParams){
    var q = $q.defer();
    <b>$http.get('https://apiapp.stamplayapp.com/api/cobject/v1/restaurant?where={"$and":[{"cuisine":"'+queryParams.cuisine+'"},{"city":"'+queryParams.city+'"}]}')</b>
    .then(function success(res){
      q.resolve(res);
    }, function error(err) {
      console.log(err);
    });
    return q.promise;
    }
  };

  }
  })();
</pre>
        </div>
      </div>
<!--........................................................-->
      <div id="console" class="z-depth-1">
<pre> <b>Console</b>
  <span id="queryConsoleCursor" class="blinking-cursor">_</span>
  <br><span id="queryConsoleStatus" class="hidden"> Status: 200 OK</span>
  <br><span id="queryConsoleBody" class="hidden"> Body: {{queryBody}}</span>
  <br><span id="queryConsoleResponse" class="hidden"> Response: {{queryResponse}}</span>
</pre>
      </div>
<!--........................................................-->
    </div>
  </div>
<!--..............................TAB 4...............................-->
<!--RATING/VOTING OUTPUT-->
  <div id="rate" class="row moduleBackgroundObj">
    <div id="rateLeft" class="col s4">
      <div class="chip">
        <i class="fa fa-eye"></i> User View
      </div>
      <ul id="queryResults" class="collection z-depth-1 itemBorder">
        <li id="viewHeaderRate" class="collection-item center queryheader">
          <b>Example Resturaunt Data</b>
        </li>
        <li class="collection-item category center">
          <img id="rateRestaurant" ng-src="{{rateRestaurant}}" class="queryheader" id="rateOutputName"/>
        </li>
        <li class="collection-item category">
          <b>Resturaunt:</b>
          <span class="queryheader" id="rateOutputName">{{rateRestaurantOutput}}
          </span>
        </li>
        <li class="collection-item category">
          <b>Rating: </b>
          <span class="queryheader" id="rateOutputRatings">{{rateRatingsOutput}}
          </span>
        </li>
        <li class="collection-item category">
          <b>Likes: </b>
          <span class="queryheader" id="rateOutputLikes">{{rateLikesOutput}}
          </span>
        </li>
        <li class="collection-item category">
          <b>Comment: </b>
          <span class="queryheader" id="rateOutputReview">{{rateReviewOutput}}
          </span>
        </li>
      </ul>
<!--RATING-->
      <div id="ratingSection" class="row z-depth-1 itemBorder">
        <form action="#" class="col s12">
          <div class="row queryheader">
            <p class="center">
              <i class="fa fa-star-o"></i>
              <b>Rate this resturaunt</b>
            </p>
          </div>
          <div class="row center">
            <div class="input-field col s2">
              <p>
                <input
                  ng-click = "rateFive()" 
                  type="checkbox" 
                  id="fiveStars" />
                  <label for="fiveStars"> 5</label>
              </p>
            </div>
            <div class="input-field col s2">
              <p>
                <input
                  ng-click = "rateFour()" 
                  type="checkbox" 
                  id="fourStars" />
                  <label for="fourStars"> 4</label>
              </p>
            </div>
            <div class="input-field col s2">
              <p>
                <input
                  ng-click = "rateThree()" 
                  type="checkbox" 
                  id="threeStars" />
                  <label for="threeStars"> 3</label>
              </p>
            </div>
            <div class="input-field col s2">
              <p>
                <input
                  ng-click = "rateTwo()" 
                  type="checkbox" 
                  id="twoStars"/>
                  <label for="twoStars"> 2</label>
              </p>
            </div>
            <div class="input-field col s2">
              <p>
                <input
                  ng-click = "rateOne()" 
                  type="checkbox" 
                  id="oneStar" />
                  <label for="oneStar"> 1</label>
              </p>
            </div>
          </div>
        </form>
      </div>
<!--UPVOTE/DOWNVOTE-->
      <div id="voteSection" class="row center z-depth-1 itemBorder">
        <p class="center queryheader"><b>Upvote/Downvote</b></p>
        <div class="input-field col s6">
          <a 
            ng-click="upvote()" 
            class="waves-effect waves-light btn-large thumbs">
            <i class="fa fa-thumbs-o-up center"></i></a>
        </div>
        <div class="input-field col s6">
          <a 
            ng-click="downvote()" 
            class="waves-effect waves-light btn-large thumbs">
            <i class="fa fa-thumbs-o-down center"></i></a>
        </div>
      </div>
<!--REVIEW SECTION-->
      <div class="row z-depth-1 createSection itemBorder">
        <form class="col s12">
          <div class="row">
            <p class="center ptag">
              <b class='queryheader'>Leave a comment</b>
            </p>
          </div>
          <div class="row">
          <div 
            id="input"
            class="input-field col s12">
            <input
              ng-model="newReview"  
              placeholder="Review..." 
              id="review" 
              type="text">
          </div>
          </div>
          <div class="row center">
            <div class="input-field col s12">
            <a 
              ng-click="review()" 
              id="btn" 
              class="waves-effect waves-light btn-large">
              <i class="fa fa-check-square-o right"></i>SUBMIT</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="rateRight" class= "col s8">
      <div class="chip">
        <i class="fa fa-code"></i> Code Details
      </div>
      <span class="center"> 
        <b> NOTE</b>: YOU MUST GO TO 
          <a ui-sref="Users">[API]- USERS</a> AND LOGIN TO USE THIS SECTION
      </span>
      <div class="z-depth-1 codeContent">
        <button
          type="btn"
          id="copyBtn"
          class="right" 
          clipboard 
          text="textToCopyRate" 
          on-copied="success()" 
          on-error="fail(err)">
          <i id="clipboard1PS" class="fa fa-clipboard tooltipped" data-position="bottom"data-delay="50" data-tooltip="copy"></i>
        </button>
        <i class="fa fa-github small right github tooltipped" data-position="bottom" data-delay="50" data-tooltip="view full code"></i><span><i class="fa fa-youtube-square small right youtube tooltipped" data-position="bottom" data-delay="50" data-tooltip="view tutorial"></i></span>
        <pre> <b>API Request Path - Rate Object</b><input class="left" type="text" ng-model="textToCopyRate">
        </pre>
      </div>
<!--........................................................-->
      <div id="sourceCodeRate" class="z-depth-1 row">
        <div class="col s12 srcTab">
          <ul id="testTab" class="tabs">
            <li class="tab col s4"><a class="active" href="#rateCtrl">Controller.js</a></li>
            <li class="tab col s4"><a href="#rateFactory">Factory.js</a></li>
            <li class="tab col s4"><a></a></li>
          </ul>
        </div>
        <div id="rateCtrl" class="col s12"> 
<pre>
(function() {
  'use strict';
  angular.module('stamplay')
  .controller('objectController', objectController);
  objectController.$inject = ['objectFactory', '$state',"$http","$scope", "$stamplay"];

  function objectController(objectFactory, $state, $http, $scope, $stamplay){

//RATE OBJECT
  $scope.rateFive = function(){
    var five = 5;
    objectFactory.rate(five).then(function(res){
    });
  };
//UPVOTE OBJECT
  $scope.upvote = function(){
    objectFactory.votePositive().then(function(res){
    });
  };
//DOWNVOTE OBJECT
  $scope.downvote = function(){
    objectFactory.voteNegative().then(function(res){
    });
  };
//REVIEW OBJECT
  $scope.review = function(){
    var review = $scope.newReview;
    objectFactory.placeReview(review).then(function(res){
    });
  };

}
})();
</pre>
        </div>
        <div id="rateFactory" class="col s12"> 
<pre>
(function() {
  'use strict';
  angular.module('stamplay')
  .factory('objectFactory', objectFactory);
  objectFactory.$inject = ['$http', '$q'];

  function objectFactory($http, $q) {

    return {
      rate: function(num){
        var q = $q.defer();
        <b>$http({
        method: "PUT",
        url : "https://apiapp.stamplayapp.com/api/cobject/v1/restaurant/56428cefd53d37e40ef1aed9/rate",
        data : {"rate": num},
        headers : { 
          "x-stamplay-jwt" : window.localStorage.getItem(window.location.origin+'-jwt')
        }
      })</b>.then(function(res){
          q.resolve(res);
        });
        return q.promise;
      },
      votePositive: function(){
      var q = $q.defer();
        <b>$http({
          method: "PUT",
          url : "https://apiapp.stamplayapp.com/api/cobject/v1/restaurant/56428cefd53d37e40ef1aed9/vote",
          data : {"type": "upvote"},
          headers : { 
            "x-stamplay-jwt" : window.localStorage.getItem(window.location.origin+'-jwt')
          }
        })</b>.then(function success(res){
          q.resolve(res);
        }, function error(err) {
          Materialize.toast('Only 1 upvote per user!', 3000, 'rounded');
          console.log(err);
        });
        return q.promise;
      },
      voteNegative: function(){
      var q = $q.defer();
        <b>$http({
          method: "PUT",
          url : "https://apiapp.stamplayapp.com/api/cobject/v1/restaurant/56428cefd53d37e40ef1aed9/vote",
          data : {"type": "downvote"},
          headers : { 
            "x-stamplay-jwt" : window.localStorage.getItem(window.location.origin+'-jwt')
          }
        })</b>.then(function success(res){
          q.resolve(res);
        }, function error(err) {
          Materialize.toast('Only 1 downvote per user!', 3000, 'rounded');
          console.log(err);
        });
        return q.promise;
      },
      placeReview: function(review){
        var q = $q.defer();
        <b>$http({
          method: "PUT",
          url : "https://apiapp.stamplayapp.com/api/cobject/v1/restaurant/56428cefd53d37e40ef1aed9/comment",
          data : {"text": review},
          headers : { 
            "x-stamplay-jwt" : window.localStorage.getItem(window.location.origin+'-jwt')
          }
        })</b>.then(function success(res){
          q.resolve(res);
        }, function error(err) {
          console.log(err);
        });
        return q.promise;
    }

  };
  }
  })();
</pre>
        </div>
      </div>
<!--........................................................-->
      <div id="console" class="z-depth-1">
<pre> <b>Console</b>
  <span id="rateConsoleCursor" class="blinking-cursor">_</span>
  <br><span id="rateConsoleStatus" class="hidden"> Status: 200 OK</span>
  <br><span id="rateConsoleBody" class="hidden"> Body: {{rateBody}}</span>
  <br><span id="rateConsoleResponse" class="hidden"> Response: {{rateResponse}}</span>
</pre>
      </div>
<!--........................................................-->
    </div>
  </div>
<!--..............................TAB 5...............................-->
<div class="row moduleBackgroundObj" id="activities">
  <div id="activityLeft" class="col s4">
    <div class="chip">
        <i class="fa fa-eye"></i> User View
      </div>
      <ul id="queryResults" class="collection z-depth-1 itemBorder">
        <li id="viewHeaderActivity" class="collection-item center queryheader">
          <b>Activity</b>
        </li>
        <li class="collection-item category center">
          <img id="rateRestaurant" ng-src="{{activityImg}}" class="queryheader" id="rateOutputName"/>
        </li>
        <li class="collection-item category">
          <b>Rates:</b>
          <span class="queryheader" id="rates">{{rates}}
          </span>
        </li>
        <li class="collection-item category">
          <b>Upvotes: </b>
          <span class="queryheader" id="rateOutputRatings">{{upvotes}}
          </span>
        </li>
        <li class="collection-item category">
          <b>Downvotes: </b>
          <span class="queryheader" id="rateOutputLikes">{{downvotes}}
          </span>
        </li>
        <li class="collection-item category">
          <b>Comments: </b>
          <span class="queryheader" id="rateOutputReview">{{comments}}
          </span>
        </li>
      </ul>
      <div id="options">
        <div class="input-field col s12">
        <p class="queryheader center"><b>Choose a restaurant!</b></p>
          <select id="selectName">
            <option value="" disabled selected>Restuarant...</option>
            <option value="56428cefd53d37e40ef1aed9">Golden Palace</option>
            <option value="56428ccbd53d37e40ef1aed8">McDonalds</option>
            <option value="56428d05d53d37e40ef1aeda">Montebello</option>
            <option value="56428d2cd53d37e40ef1aedb">El Burrito's</option>
          </select>
        </div>
      </div>
<!--GET ACTIVITY BUTTON-->
      <div class="row z-depth-1 createSection itemBorder">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <a 
                ng-click="getActivity()" 
                id="btn" 
                class="waves-effect waves-light btn-large">
                <i class="fa fa-pie-chart right"></i>Get Activity
              </a>
            </div>
          </div>
        </form>
      </div>
  </div>
  <div id="activityRight" class= "col s8">
      <div class="chip">
        <i class="fa fa-code"></i> Code Details
      </div>
      <div class="z-depth-1 codeContent">
        <button
          type="btn"
          id="copyBtn"
          class="right" 
          clipboard 
          text="textToCopyActivity" 
          on-copied="success()" 
          on-error="fail(err)">
          <i id="clipboard1PS" class="fa fa-clipboard tooltipped" data-position="bottom"data-delay="50" data-tooltip="copy"></i>
        </button>
        <i class="fa fa-github small right github tooltipped" data-position="bottom" data-delay="50" data-tooltip="view full code"></i><span><i class="fa fa-youtube-square small right youtube tooltipped" data-position="bottom" data-delay="50" data-tooltip="view tutorial"></i></span>
        <pre> <b>API Request Path - Get Activity</b><input class="left" type="text" ng-model="textToCopyActivity">
        </pre>
      </div>
<!--........................................................-->
      <div id="sourceCodeActivity" class="z-depth-1 row">
        <div class="col s12 srcTab">
          <ul class="tabs">
            <li class="tab col s4"><a class="active" href="#activityCtrl">Controller.js</a></li>
            <li class="tab col s4"><a href="#activityFactory">Factory.js</a></li>
            <li class="tab col s4"><a></a></li>
          </ul>
        </div>

        <div id="activityCtrl" class="col s12"> 
<pre>
 (function() {
  'use strict';
  angular.module('stamplay')
  .controller('objectController', objectController);
  objectController.$inject = ['objectFactory', '$state',"$http","$scope", "$stamplay"];

  function objectController(objectFactory, $state, $http, $scope, $stamplay){

    $scope.getActivity = function() {
      var selectName = document.getElementById("selectName");
      var id = selectName.options[selectName.selectedIndex].value;

      objectFactory.getActivites(id).then(function(res){
      }
    }
  }
  })();
</pre>
        </div>
        <div id="activityFactory" class="col s12"> 
<pre>
 (function() {
  'use strict';
  angular.module('stamplay')
  .factory('objectFactory', objectFactory);
  objectFactory.$inject = ['$http', '$q'];

  function objectFactory($http, $q) {

    return {
    getActivites: function(id){
      var q = $q.defer();
      <b>$http({
        method: "GET",
        url : "https://apiapp.stamplayapp.com/api/cobject/v1/restaurant/"+id+"/activities",
        headers : { 
          "x-stamplay-jwt" : window.localStorage.getItem(window.location.origin+'-jwt')
        }
      })</b>
      .then(function success(res){
          q.resolve(res);
        }, function error(err) {
          console.log(err);
        });
        return q.promise;
      }
    };
  }
  })();
</pre>
        </div>
      </div>
<!--........................................................-->
      <div id="console" class="z-depth-1">
<pre> <b>Console</b>
  <span id="activityConsoleCursor" class="blinking-cursor">_</span>
  <br><span id="activityConsoleStatus" class="hidden"> Status: 200 OK</span>
  <br><span id="activityConsoleBody" class="hidden"> Body: {{activityBody}}</span>
  <br><span id="activityConsoleResponse" class="hidden"> Response: {{activityResponse}}</span>
</pre>
      </div>
<!--........................................................-->
    </div>
</div>

<!--..............................TAB 6...............................-->
<div class="row moduleBackgroundObj" id="email">
  <div id="activityLeft" class="col s4">
    <div class="chip">
        <i class="fa fa-eye"></i> User View
      </div>
      <ul id="queryResults" class="collection z-depth-1 itemBorder">
        <li id="viewHeaderActivity" class="collection-item center queryheader">
          <b>Email</b>
        </li>
        <li class="collection-item category center">
          <img id="rateRestaurant" ng-src="{{emailImg}}" class="queryheader" id="rateOutputName"/>
        </li>
        <li class="collection-item category">
          <b>To:</b>
          <span class="queryheader" id="rates">{{to}}
          </span>
        </li>
        <li class="collection-item category">
          <b>From: </b>
          <span class="queryheader" id="rateOutputRatings">{{from}}
          </span>
        </li>
        <li class="collection-item category">
          <b>Subject: </b>
          <span class="queryheader" id="rateOutputLikes">{{subject}}
          </span>
        </li>
        <li class="collection-item category">
          <b>Body: </b>
          <span class="queryheader" id="rateOutputReview">{{body}}
          </span>
        </li>
      </ul>
<!--EMAIL INPUT-->
    <div class="row z-depth-1 createSection itemBorder">
    <div class="col s12">
      <div class='row'>
        <p class="center header"><b>Send yourself an email!</b></p>
      </div>
      <div class="row">
        <div 
          id="input"
          class="input-field col s12">
          <textarea
            ng-model="emailTo"  
            placeholder="To (email)..." 
            id="emailTo" 
            type="email">
          </textarea>
        </div>
        <div 
          id="input"
          class="input-field col s12">
          <textarea
            ng-model="emailFrom"  
            placeholder="From (email)..." 
            id="emailFrom" 
            type="text">
          </textarea>
        </div>
        <div 
          id="input"
          class="input-field col s12">
          <textarea
            ng-model="emailSubject"  
            placeholder="Subject..." 
            id="emailSubject" 
            type="text">
          </textarea>
        </div>
        <div 
          id="input"
          class="input-field col s12">
          <textarea
            ng-model="emailBody"  
            placeholder="Body..." 
            id="emailBody" 
            type="text">
          </textarea>
        </div>
      </div>
      <div class="row center">
        <div class="input-field col s12">
          <a 
            ng-click="sendEmail()" 
            id="btn" 
            class="waves-effect waves-light btn-large">
            <i class="fa fa-paper-plane-o right"></i>Send
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="activityRight" class= "col s8">
      <div class="chip">
        <i class="fa fa-code"></i> Code Details
      </div>
      <div class="z-depth-1 codeContent">
        <button
          type="btn"
          id="copyBtn"
          class="right" 
          clipboard 
          text="textToCopyEmail" 
          on-copied="success()" 
          on-error="fail(err)">
          <i id="clipboard1PS" class="fa fa-clipboard tooltipped" data-position="bottom"data-delay="50" data-tooltip="copy"></i>
        </button>
        <i class="fa fa-github small right github tooltipped" data-position="bottom" data-delay="50" data-tooltip="view full code"></i><span><i class="fa fa-youtube-square small right youtube tooltipped" data-position="bottom" data-delay="50" data-tooltip="view tutorial"></i></span>
        <pre> <b>API Request Path - Email</b><input class="left" type="text" ng-model="textToCopyEmail">
        </pre>
      </div>
<!--........................................................-->
      <div id="sourceCodeEmail" class="z-depth-1 row">
        <div class="col s12 srcTab">
          <ul class="tabs">
            <li class="tab col s4"><a class="active" href="#emailCtrl">Controller.js</a></li>
            <li class="tab col s4"><a href="#emailFactory">Factory.js</a></li>
            <li class="tab col s4"><a></a></li>
          </ul>
        </div>

        <div id="emailCtrl" class="col s12"> 
<pre>
 (function() {
  'use strict';
  angular.module('stamplay')
  .controller('objectController', objectController);
  objectController.$inject = ['objectFactory', '$state',"$http","$scope", "$stamplay"];

  function objectController(objectFactory, $state, $http, $scope, $stamplay){

    $scope.sendEmail = function(){
      var to = $scope.emailTo;
      var from = $scope.emailFrom;
      var subject = $scope.emailSubject;
      var body = $scope.emailBody;

      var email = {
        to: to,
        from: from,
        subject: subject,
        body: body
      };

      objectFactory.Mail(email).then(function(res){
      });
    };
  }
  })();
</pre>
        </div>
        <div id="emailFactory" class="col s12"> 
<pre>
 (function() {
  'use strict';
  angular.module('stamplay')
  .factory('objectFactory', objectFactory);
  objectFactory.$inject = ['$http', '$q'];

  function objectFactory($http, $q) {

    return {
      Mail: function(email){
        var q = $q.defer();
        var data = {
          "to": email.to,
          "from": email.from,
          "subject": email.subject,
          "body": email.body
        };

        <b>$http.post("https://apiapp.stamplayapp.com/api/email/v1/send", data)</b>
          .then(function success(res){
            q.resolve(res);
          }, function error(err) {
            console.log(err);
          });
          return q.promise;
        }
      };
    }
  })();
</pre>
        </div>
      </div>
<!--........................................................-->
      <div id="console" class="z-depth-1">
<pre> <b>Console</b>
  <span id="emailConsoleCursor" class="blinking-cursor">_</span>
  <br><span id="emailConsoleStatus" class="hidden"> Status: 200 OK</span>
  <br><span id="emailConsoleBody" class="hidden"> Body: {{emailConsoleBody}}</span>
  <br><span id="emailConsoleResponse" class="hidden"> Response: {{emailResponse}}</span>
</pre>
      </div>
<!--........................................................-->
    </div>
</div>










<!--FOOTER-->
  <br>
  <br>
  <footer id="footerObj" class="page-footer z-depth-1">
    <div class="container"></div>
  </footer>
</div>

<!--JQUERY-->
<script type="text/javascript">
  jQuery('ul.tabs').tabs();
  jQuery('.tooltipped').tooltip({delay: 50});
  //DROPDOWN
  jQuery('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });
  jQuery(document).ready(function() {
    jQuery('select').material_select();
  });
</script>
