#navbar{
	background-color: #262D4D;
	height: 80px;
}
#logo{
  	padding: 10px;
    height: 70px;
	margin-top: 5px;
}
#wordLogo{
	padding: 10px;
    height: 45px;
	margin-top: 15px;
}
#lzHeader{
	margin-top: 8px;
	font-family: "Roboto";
	font-weight: lighter;
}
#gradCap{
	color: #FBC02D;
}
#lz{
	color: #FFFFFF;
	font-weight: lighter;
	font-family: "Roboto";	
}
#backArrow{
	padding-right: 20px;
}
#backArrow:hover{
	padding-right: 20px;
	cursor: pointer;
	color: #FBC02D;
	background-color: #262D4D !important;
}
.categoryRow{
	margin-bottom: 0px;
}
.categorySelector{
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 10px;
	background-color: #fff;
}
#questionHeader{
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 0px;
}
.categoryTitle{
	color: #000;
}
.categoryIcons{
	color: #3D3F4D;
}
.categoryBtn{
	padding-top: 30px;
	cursor: pointer;
}
.modal{
	width: 50%;
	border-radius: 4px;
}