#landingBody {
	min-height: 100vh;
	background: url("../images/backgroundimg.png") no-repeat;
	background-size: cover;
	background-position: center center;
}
#logo{
	height: 100px;
	width: 75px;
}
#gradCap{
	color: #FBC02D;
}
#lz{
	color: #FFFFFF;
}
#header{
	color: #FFFFFF;
	font-family: "Roboto";
	font-size: 40px;
}
#banner{
	color: #FBC02D;
	font-size: 17px;
	font-weight: lighter;
}
#selectCourseBtn1{
	/*background-image: url('/public/images/lego.jpg');*/
	/*background-color: #EEEEEE;*/
	height: 170px;
	padding-top: 30px;
	border-radius: 7px;
	border:4px double #cccccc;
	/*margin-right: 10px;*/
	cursor: pointer;
	color: #fff;
}
#selectCourseBtn1:hover{
	background-color: #f2f2f2;
	height: 170px;
	padding-top: 30px;
	border-radius: 7px;
	border:4px double #FBC02D;
	/*margin-right: 10px;*/
	cursor: pointer;
	color: #000;

}
#selectCourseBtn2{
	/*background-color: #EEEEEE;*/
	height: 170px;
	padding-top: 30px;
	border-radius: 7px;
	border:4px double #cccccc;
	margin-left: 20px;
	cursor: pointer;
	color: #fff;

}
#selectCourseBtn2:hover{
	background-color: #f2f2f2;
	height: 170px;
	padding-top: 30px;
	border-radius: 7px;
	border:4px double #FBC02D;
	margin-left: 20px;
	cursor: pointer;
	color: #000;

}
#selectCourseBtn3{
	/*background-color: #EEEEEE;*/
	height: 170px;
	padding-top: 30px;
	border-radius: 7px;
	border:4px double #cccccc;
	/*margin-right: 10px;*/
	margin-top: 0px;
	cursor: pointer;
	color: #fff;


}
#selectCourseBtn3:hover{
	background-color: #f2f2f2;
	height: 170px;
	padding-top: 30px;
	border-radius: 7px;
	border:4px double #FBC02D;
	/*margin-right: 10px;*/
	margin-top: 0px;
	cursor: pointer;
	color: #000;

}
#selectCourseBtn4{
	/*background-color: #EEEEEE;*/
	height: 170px;
	padding-top: 30px;
	border-radius: 7px;
	border:4px double #cccccc;
	margin-left: 20px;
	margin-top: 0px;
	cursor: pointer;
	color: #fff;

}
#selectCourseBtn4:hover{
	background-color: #f2f2f2;
	height: 170px;
	padding-top: 30px;
	border-radius: 7px;
	border:4px double #FBC02D;
	margin-left: 20px;
	margin-top: 0px;
	cursor: pointer;
	color: #000;
	
}
.topRow{
	margin-bottom: 0px;
}
.objectImg{
	height: 80px;
	width: 80px;
}
/*#navBox{
	background-color: #EEEEEE;
	width: 50%;
	border-radius: 4px;
}
.arrow{
	color: #262D4D;
}
#collectionHeader{
	background-color: #EEEEEE;
	height: 60px;
}
.navItem{
	cursor: pointer;
	padding-left: 5px;
}
.navItem:hover{
	background-color: #FFFFE5;
}
.btn{
	width: 80%;
	background-color: #7A7F99;
	color: #FFFFFF;
	text-align: center;
}
.btn:hover{
	width: 80%;
	background-color: #7A7F99;
	color: #FFFFFF;
	text-align: center;
}
.sdkTitle{
	color: #000;
}*/

