body, html {
	font-family: "Roboto";
	min-height: 100vh;
	min-width: 100vw;
	position: cover;
	background-color: #EEEEEE;
}
#navbarObjects{
	background-color: #262D4D;
	height: 80px;
}
#logo{
  	padding: 10px;
    height: 60px;
	margin-top: 5px;
}
#wordLogo{
	padding: 10px;
    height: 45px;
	margin-top: 15px;
}
#lzHeader{
	margin-top: 8px;
	font-family: "Roboto";
}
#gradCap{
	color: #FBC02D;
}
#lz{
	color: #FFFFFF;
}
#resourceMenuObjects{
	margin-top: 10px;
	margin-right: 10px;
}
#userAPI{
	font-size: 20px;
}
#objSDK{
	font-size: 20px;
}
#userSDK{
	font-size: 20px;
}
#navSelectObjects{
	background-color: #262D4D;
	z-index: none;
}
#navSelectObjects:hover{
	background-color: #262D4D;
	z-index: none;
	color: #FBC02D;
}
.dropdownitem{
	background-color: #FBC02D;
}
#dropdownText1{
	color: #000000;
}
#dropdownText1:hover{
	color: #000000;
}
#dropdownText2{
	color: #000000;
}
#dropdownText3{
	color: #000000;
}
#objectNav{
	margin-right: 30px;
}
.divider{
	background-color: #000000;
}
  /* label color */
.input-field label {
     color: #FBC02D;
}
   /* label focus color */
.input-field input[type=text]:focus + label {
     color: #FBC02D;
}
   /* label underline focus color */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #FBC02D;
     box-shadow: 0 1px 0 0 #FBC02D;
}
   /* valid color */
.input-field input[type=text].valid {
     border-bottom: 1px solid #FBC02D;
     box-shadow: 0 1px 0 0 #FBC02D;
}
.tabs{
	margin: none;
	min-width: 100vw;
}   
.tabs .tab a{
	color: #272D4E;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;

}
.tabs .tab a:hover{
	color: #272D4E;
    background-color: #FFFFE5;
    font-weight: bold;
}
.tab-row {
	padding:0 !important;
}
.indicator {
	background-color: #FBC02D !important;
}
.createSection{
	background-color: #FFFFFF;
}
#createLeft{
	width: 30%;
	margin-left: 25px;
}
#createRight{
	width: 66%;
}
#updateLeft{
	width: 30%;
	margin-left: 25px;
}
#updateRight{
	width: 66%;
}
#queryLeft{
	width: 30%;
	margin-left: 25px;
}
#queryRight{
	width: 66%;
}
#rateLeft{
	width: 30%;
	margin-left: 25px;
}
#rateRight{
	width: 66%;
}
#btn{
	background-color: #7A7F99;
	width: 100%;
}
.objectOutput{
	margin-top: 15px;
}
#input{
	padding-left: 25px;
	padding-right: 25px;
}
.picker__date-display {
	background-color: #414b82;
}
.picker__weekday-display{
	background-color: #414b82;
}
.picker__day.picker__day--today {
	background-color: #414b82;
	color: #FFFFFF;
}
.picker__close, .picker__today {
	color: #000000;
}

.header{
	color: #414B82;
}
.data{
	color: #B0B2B5;
}
.category{
	color: #B0B2B5;
}
.outputData{
	color: #414B82
}
#bookImage{
	height: 100px;
	width: 100px;
}
#updateImage{
	height: 100px;
	width: 100px;
}
#restaurantImage{
	height: 150px;
	width: 250px;
}
#rateRestaurant{
	height: 150px;
	width: 250px;
}
.input-field label {
     color: #000;
}
.input-field input[type=text]:focus + label {
     color: #000;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #FFD700;
     box-shadow: 0 1px 0 0 #FFD700;
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 1.2rem;
    color: #414b82;
    display: block;
    padding: 1rem 1rem;
}
.hidden{
	display: none;
}
#copyBtn{
	cursor: pointer;
	height: 40px;
	width: 70px;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	border:none;
}
#copyBtnEP{
	cursor: pointer;
	height: 40px;
	width: 70px;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	border:none;
}
.codeContent{
	margin-top: 15px;
	overflow: auto;
	height: 100px;
	background-color: #FFFFFF;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
}
.srcTab{
	padding:0px !important;
}
#sourceCodeCreate{
	overflow: auto;
	background-color: #FFFFE5;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
	max-height: 73vh;
}
#sourceCodeUpdate{
	overflow: auto;
	background-color: #FFFFE5;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
	max-height: 53vh;
}
#sourceCodeQuery{
	overflow: auto;
	background-color: #FFFFE5;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
	max-height: 55vh;
}
#sourceCodeRate{
	overflow: auto;
	background-color: #FFFFE5;
	border-radius: 4px;
	border:7px solid;
	border-color: #EEEEEE;
	border-style:double;
	max-height: 77vh;
}
#console{
	background-color: #FFFFFF;
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 5px;
	height: 205px;
	overflow: auto;
}
.github{
	color: #3D3F4D;
	cursor: pointer;
	padding-top: 3px;
}
.github:hover{
	color: #FBC02D;
	cursor: pointer;
	padding-top: 3px;
}
.youtube{
	color: #3D3F4D;
	cursor: pointer;
	padding-top: 3px;
}
.youtube:hover{
	color: #FBC02D;
	cursor: pointer;
	padding-top: 3px;
}
.blinking-cursor {
  font-weight: 100;
  font-size: 15px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
.queryheader{
	color: #414B82;
}
#queryResults{
	margin-top: 15px;
}
.ptag{
	padding-top: 10px;
} 
#dropdown{
	width: 40%;
	background-color: #FFFFFF;
}
#voteSection{
	background-color: #FFFFFF;
	padding-bottom: 15px;
}
#ratingSection{
	background-color: #FFFFFF;
	padding-bottom: 15px;
}
.thumbs{
	background-color: #7A7F99;
	width: 80%;
}
.thumbs:hover{
	background-color: #7A7F99;
	width: 80%;
}
[type="checkbox"]:checked + label:before {
	border-right: 2px solid #FBC02D; 
    border-bottom: 2px solid #FBC02D;
}
#footer{
	background-color: #E4E4E4;
	display: flex;
    min-height: 7vh;
    flex-direction: column;
}